[submodule "src/vendor/github.com/spf13/cobra"]
	path = src/vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "src/vendor/github.com/spf13/pflag"]
	path = src/vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
[submodule "src/vendor/github.com/boltdb/bolt"]
	path = src/vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt.git
[submodule "src/vendor/github.com/olekukonko/tablewriter"]
	path = src/vendor/github.com/olekukonko/tablewriter
	url = https://github.com/olekukonko/tablewriter.git
