[submodule "src/vendor/github.com/spf13/cobra"]
	path = src/vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "src/vendor/github.com/spf13/pflag"]
	path = src/vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
[submodule "src/vendor/github.com/sirupsen/logrus"]
	path = src/vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus.git
[submodule "src/vendor/github.com/julienschmidt/httprouter"]
	path = src/vendor/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter.git
[submodule "src/vendor/github.com/solus-project/xzed"]
	path = src/vendor/github.com/solus-project/xzed
	url = https://github.com/solus-project/xzed.git
[submodule "src/vendor/github.com/radu-munteanu/fsnotify"]
	path = src/vendor/github.com/radu-munteanu/fsnotify
	url = https://github.com/radu-munteanu/fsnotify.git
[submodule "src/vendor/github.com/BurntSushi/toml"]
	path = src/vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "src/vendor/golang.org/sys"]
	path = src/vendor/golang.org/x/sys
	url = https://github.com/golang/sys
[submodule "src/vendor/github.com/syndtr/goleveldb"]
	path = src/vendor/github.com/syndtr/goleveldb
	url = https://github.com/syndtr/goleveldb.git
