[Unit]
Description=ferryd repository management
After=network.target

[Service]
Type=notify
WorkingDirectory=/var/lib/ferryd
ExecStart=/usr/bin/ferryd -d /var/lib/ferryd -s /run/ferryd.sock
User=ferryd
Group=ferryd

[Install]
WantedBy=multi-user.target
