[Socket]
Description=ferryd control socket

[Socket]
ListenStream=/run/ferryd.sock
SocketUser=ferryd
SocketGroup=ferryd
SocketMode=0600

[Install]
WantedBy=sockets.target
